.home-button
  %a{href: root_path}
    %span.glyphicon.glyphicon-home(aria-hidden='true')

.article{data: { 'article-id' => @article.id }}
  = render 'articles/header', article: @article

  .article-body
    = simple_format @article.body
