.article {
  padding-top: 25px;
  padding-bottom: 25px;

  .article-title {
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;

    font-family: $font-family-sans-serif;
    font-weight: 700;

    a {
      color: $gray-dark;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .article-meta {
    text-align: center;

    p {
      font-size: $font-size-small;
      color: $gray-light;

      span {
        color: $gray-dark;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .article-body {
    margin-top: 15px;
    font-family: $font-family-serif;
  }

  & + & {
    border-top: 1px solid darken($gray-lighter, 3.25%);
  }
}
