.home-button {
  position: absolute;
  top: 15px;
  left: 15px;

  a {
    color: darken($gray-lighter, 6.5%);
    transition: color .5s ease-in-out;
    font-size: $font-size-large;

    &:hover {
      color: $gray;
    }
  }
}
